body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(158, 31, 31, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

h2 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}

p {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5 px;
}

body {
    background-color: rgba(28, 170, 23, 0.603)
}

.Evento1 {
    width: 500px;
    height: a200;
}

.Evento2 {
    width: 500px;
    height: a200;
}

.Evento3 {
    width: 500px;
    height: a200;
}

.Evento4 {
    width: 500px;
    height: a200;
}

.contenedor-horizontal p {
    flex: 1;
    /* Hace que los párrafos se expandan para ocupar el espacio disponible */
    margin: 0;
    /* Elimina el margen predeterminado */
    padding: 10px;
    /* Añade un poco de espacio interno */
    border: 1px solid #ccc;
    /* Añade un borde para separar visualmente los párrafos */
}

.contenedor-horizontal {
    display: flex;
    justify-content: space-between;
    /* Distribuye el espacio entre los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;
}
nav li {
    margin: 0 10px;
}

.conteiner {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

form {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(221, 209, 209, 0.842);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: rgba(28, 170, 23, 0.603);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
